{% extends "main.html" %}
{% block content %}

<h2>Edit Item</h2>
<div class="editForm">
	<form method="POST" action="{{url_for('editItem', item_title = item.title)}}" id="edit_item">
		<label>Title</label>		
		</br>
		<input type="text" name="title" value="{{item.title}}">
		</br>
		<label>Description</label>
		</br>
		<input type="text" name="description" value="{{item.description}}">
		</br>
		<label>Category</label>
		</br>
		<select name="cat_list" form="edit_item">
			{% for name in cat_name_list %}
			{% if name.name == cat_name %}
			<option value='{{name.name}}' selected="selected">{{name.name}}</option>
			{% else %}
			<option value='{{name.name}}'>{{name.name}}</option>
			{% endif %}
			{% endfor %}
		</select>
		</br>
		<input type="submit" value="Submit">
		<a href="{{url_for('showItemInfo', cat_name = cat_name, item_title = item.title)}}">Cancel</a>

	</form>
	
</div>

{% endblock %}